body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #222222;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #169976;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav a {
  margin: 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
.error-container {
  text-align: center;
  margin-top: 80px; /* Adjust to avoid overlap with the fixed navbar */
}
.error-code {
  font-size: 100px;
  font-weight: bold;
  color: #1dcd9f;
}
.error-message {
  font-size: 24px;
  margin: 10px 0;
}
.home-link {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #1dcd9f;
  color: #222222;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.home-link:hover {
  background-color: #169976;
}
