* {
  box-sizing: border-box;
  /* border: 3px solid white; */
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background: #222222;
  color: #1dcd9f;
  height: 100vh;
  padding: 40vh 0;
  text-align: center;
}
header h1 {
  margin: auto;
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0 0 5px #1dcd9f;
}
nav {
  margin-bottom: 2rem;
}
nav a {
  color: #169976;
  text-decoration: none;
  margin: 0 2rem;
  padding: 10px;
  background-color: #000;
  border-radius: 10px;
  font-weight: 700;
}
nav a:hover {
  color: #1dcd9f;
  transition: 0.3s;
}
section {
  padding: 40vh 0;
  text-align: center;
  color: #222222;
}
section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
section p {
  font-size: 1.2rem;
}
section p span {
  text-decoration: underline;
  text-decoration-color: #565656;
}
section p a {
  background-color: #5656564c;
  color: #222222;
  border-radius: 5px;
  padding: 3px;
  text-decoration: none;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #222222;
  color: #f4f4f4;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid #f4f4f4;
  font-weight: 700;
}
.btn:hover {
  background-color: black;
  transition: 0.3s;
}
#about {
  background-color: #169976;
}

#projects {
  background-color: #1dcd9f;
}

#contact {
  background-color: #169976;
}
